MONGO_URL = 'mongodb+srv://Goldenboy3030:michael1985@cluster0.2ktah6b.mongodb.net/db-contacts?retryWrites=true&w=majority'
SECRET_KEY= 'Curry3030'
PORT = "3000"
SENDGRID_API_KEY="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"
SENDGRID_USERNAME="micRedd23"
EMAIL_FROM = "micredd1985@gmail.com"